<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<div class="row">
  <div class="col-md-4">
    <% @recipes.each do |recipe| %>
      <div>
        <div><%= link_to recipe.title, recipe %></div>
        <div><%= recipe.description %></div>
        <div><%= image_tag recipe.thumb_image %></div>
      </div>
    <% end %>
  </div>
</div>

<hr>

<%= link_to 'New Recipe', new_recipe_path %>
