<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4"><%= @recipe.title %></h1>
        <p class="lead"><%= @recipe.description %></p>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="recipe-image">
      <%= image_tag @recipe.main_image %>
    </div>
  </div>
</div>
<div class="instructions">
  <%= @recipe.instructions %>
</div>

<%= link_to 'Edit', edit_recipe_path(@recipe), class: 'btn btn-primary' %> |
<%= link_to 'Back', recipes_path, class: 'btn btn-primary' %>
<div><%= link_to 'Delete', @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></div>
